.one{
	height: 700px;
	width: 100%;
	background-image: url(backdog.jpg);
	background-size: 100% 100%;



}
.back{

	 background-image: linear-gradient(to left, rgba(253,188,252,1), rgba(255,0,0,0));
	border-radius: 50%;

}
.form1{
    font-family: ABeeZee;font-size: 20px;


	width: 30%;
	height: 700px;
	color: white;
	

}
.text
{
	padding-top: 30%;
	padding-bottom: 30%;
}
.text button{
	margin-left: 30%;
	height: 25px;
}